/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  max-width: 60ch;
  padding: 20px;
  margin: auto;
  font-family: system-ui;
  line-height: 1.75;
}

.header {
  margin-top: 5vh;
  text-align: center;
}

.book-cover {
  height: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h1 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2;
}

.text {
  color: #777;
  font-size: 1.115rem;
}

.question-box {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  line-height: 1.75;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

button {
  width: auto;
  padding: 0.75rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.125rem;
  border: none;
}

button:hover {
  cursor: pointer;
}

.button-primary {
  color: white;
  background: black;
}

.button-primary:hover {
  background: #333;
}

.button-secondary {
  background: #ddd;
  color: #444;
}

.button-secondary:hover {
  background: #eee;
}

.credits {
  text-align: center;
}

.answer {
  font-size: 1.115rem;
}
